*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}

h2{
    font-size: 1.75em;
}

p{
    font-size: 0.81em;
}
strong{
    font-size: 1.15em;
}


body{
    background: url('../img/bg-2.png');
    font-size: 16px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header img.logo{
     position: absolute;
     top: -35px;
     left: -10px;
}

nav.navegacion{
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}

nav.navegacion ul{
    list-style-type: none;
}

nav.navegacion ul{
    width: 100%;
    background-color: orange;
    margin-top: 35px;
    padding: 5px 0 5px 110px;
}

nav.navegacion li{
    display: inline-block;
}
nav.navegacion a{
    padding: 10px;
    display: inline-block;
    color: white;
    text-decoration: none;
}
nav.navegacion a:hover{
    border-bottom: 1px solid white;
}

.fondo1{
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    background-color: red;
    background-image: url('../img/office-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main{
    background: white;
    max-width: 1200px;
    margin: 120px auto 0;
    height: 2000px;
}

.celphones{
    padding: 10px;
}

.unit{
    width: 33%;
    position: relative;
    float: left;
}
.unit:nth-child(2n){
    margin: 0 0.5% 10px 0.5%;
}
.cel-img{
    width: 100%;
}
.cel-flag{
    position:absolute;
    top:0;
    right: 10px;
}
.cel-name{
    background-color: rgba(22,33,44,0.5);
    font-style: italic;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.cel-more{
    position: absolute;
    bottom: 10px;
    padding: 20px;
    display: inline-block;
    background-color: rgba(255, 10, 10, 1);
    left: 50%;
    transform: translateX(-50%);
}

#cajaA, #cajaB, #cajaC{
    height: 300px;
    float: left;
    color: white;
}
#cajaA{
    width: 25%;
    background-color: green;
}
#cajaB{
    width: 58.33%;
    background-color: blue;
}
#cajaC{
    width: 16.66%;
    background-color: yellow;
}
.menu-hamb, .menu-hamb-check{
    display: none;
}

/*aqui vienen los medias para tablets */
@media (max-width:960px)  {
    .unit{
        width: 49%;
    }
    .menu-hamb{
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 40px;
        right: 10px;
        font-size: 30px;
        z-index: 11;
        padding: 5px 5px 0 5px;
        background-color: orange;
    }
    nav.navegacion ul{
        display: none;
    }
    nav.navegacion li{
        display: block;
        width: 100%;
        background-color: orange;
    }
    header img.logo{
         top: 0;
         left: 0;
    }
    .menu-hamb-check:checked ~ ul{
        display: inline-block;
    }
}

/*aqui vienen los media para celulares*/
@media (max-width:460px) {
    .unit{
        width: 100%;
    }
    .menu-hamb{
        top: 5px;
        right: 5px;
    }
    header img.logo{
        height: 20vw;
    }
    nav.navegacion ul{
        background-color: transparent;
        padding-left: 5px;
    }
    nav.navegacion li{
        text-align: right;
    }
}
